
        <header class="major">
        	<h2>
                {{breather.title}}
        	</h2>
        </header>
	<section>
 	<div class="row 50%">
	<div class="4u 12u$(3)">
    <section class="box">
        <form ng-submit="addContent()">
            <h3>Add a new Content</h3>

            <div class="form-group">

                <input type="text" class="form-control" placeholder="name" ng-model="name"></input>
                <input type="text" class="form-control" placeholder="data" ng-model="data"></input>
                <select class="form-control" placeholder="contentType" ng-model="contentType">
                    <option value="post">Post</option>
                    <option value="youtube">YouTube</option>
                    <option value="imageUrl">Image</option>
                    <option value="imgur">Imgur</option>
                <select>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </section>
	</div>
     <div class="4u 12u$(3)" ng-repeat="item in breather.content">
        <content-item content="item" source="item.source"></content-item>
    </div>  

