<section id="main" class="wrapper">
	<div class="container">
        <header class="major">
        	<h2>
                {{breather.title}}
        	</h2>
        </header>
	<section>
 	<div class="row 50%">
	<div class="4u 12u$(3)">
	<section class="box">
		<form ng-submit="addLink()"
        		style="margin-top:30px;">
        		<h3>Add a new Link</h3>

        		<div class="form-group">

                	<input type="text"
                	class="form-control"
                	placeholder="title"
                	ng-model="title"></input>

                	<input type="text"
                	class="form-control"
                	placeholder="link"
                	ng-model="link"></input>
        		</div>

        		<button type="submit" class="btn btn-primary">Post</button>
		</form>
	</section>
	</div>

	<div class="4u 12u$(3)" ng-repeat="link in breather.links | orderBy:'-upvotes'">
        <section class="box">
		<div>
			<span class="glyphicon glyphicon-thumbs-up"
        		ng-click="incrementUpvotes(link)"></span>
                		{{link.upvotes}} - by {{link.author}}
        		<span style="font-size:20px; margin-left:10px;">
                		{{link.title}} - {{link.link}}
        		</span>
		</div>
	</section>
	</div>
	</div>
</section>

