<div class="page-header">
	<h3>
	<span>
		{{course.title}}
	</span>
	</h3>
</div>
<div class="row">
<div class="col-md-5">
<div ng-repeat="assignment in course.assignments | orderBy:'-dueDate'">
	<span style="font-size:20px; margin-left:10px;">
		{{assignment.name}} 
		created by {{assignment.author}}
		 - Due {{assignment.dueDate}}
		<input type= "button" ng-click= 'joinAssignment(assignment)'>
	</span>
</div>

<form ng-submit="addAssignment()"
	style="margin-top:30px;">
	<h3>Add a new Assignments</h3>
	<div class="form-group">
		
		<input type="text"
		class="form-control"
		placeholder="Task"
		ng-model="name"></input>
		
		<input type="date"
		class="form-control"
		placeholder="Date"
		ng-model="dueDate"></input>
	
	</div>

	 <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<div class="col-md-5">
<h4>Users in this Class</h4>
<div ng-repeat="username in course.usernames">
		{{username}}
</div>

<div ng-repeat="comment in course.comments | orderBy:'-upvotes'">
	<span class="glyphicon glyphicon-thumbs-up"
	ng-click="incrementUpvotes(comment)"></span>
		{{comment.upvotes}} - by {{comment.author}}
	<span style="font-size:20px; margin-left:10px;">
		{{comment.body}}
	</span>
</div>

<form ng-submit="addComment()"
	style="margin-top:30px;">
	<h3>Add a new comment</h3>

	<div class="form-group">
		
		<input type="text"
		class="form-control"
		placeholder="Comment"
		ng-model="body"></input>
	</div>
	
	<button type="submit" class="btn btn-primary">Post</button>
</form>

<div ng-repeat="post in course.posts | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up"
        ng-click="incrementUpvotes(post)"></span>
                {{post.upvotes}} - by {{post.author}}
        <span style="font-size:20px; margin-left:10px;">
                {{post.title}}
        </span>
</div>

<form ng-submit="addPost()"
        style="margin-top:30px;">
        <h3>Add a new Post</h3>

        <div class="form-group">

                <input type="text"
                class="form-control"
                placeholder="Title"
                ng-model="title">
                </input>

                <input type="text"
                class="form-control"
                placeholder="Body"
                ng-model="pBody">
                </input>

        </div>

        <button type="submit" class="btn btn-primary">Post</button>
</form>

</div>
</div>
