<div class="page-header">
	<h1>Courses</h1>
</div>
<div class="row">
	<div class="col-md-4">
	<h4>Course</h4>
	</div>
	<div class="col-md-1">
	<h4>Join</h4>
	</div>
</div>
<div ng-repeat="course in courses | orderBy:'-upvotes'" class="row" >
	<span style="font-size:20px; margin-left:10px;">
		
		<div class="col-md-4">
		<span>
			 <a href = "#/courses/{{course._id}}">
				{{course.title}}
			</a>
		</span>
		</div>
		<div class="col-md-1">
		<span class="glyphicon glyphicon-plus"
		ng-click="joinC(course)">
		</span>
		</div>
	</span>
</div>

         
<form ng-submit="addCourse()"
	style="margin-top:30px;">
	<h3>Add a new Course</h3>

	<div class="form-group">
		<input type="text"
		class="form-control"
		placeholder="Title"
		ng-model="title"></input>
	</div>
	<button type="submit" class="btn btn-primary">Post</button>
</form>
