<div class= "page-header">
	<h3> My Schedule </h3>	
</div>
<div class="row">
<div class="col-md-5">

		<h4>Description - Time</h4>

<div ng-repeat="item in items | orderBy:'item.number'">
	<span style="font-size:20px;">
		{{item.number}}.  {{item.details.description}}
		- {{item.minutes}}
        </span>
</div>
</div>


<div class="col-md-5">

<input type="button" ng-click="newSchedule()" value="New Schedule" ng-show = '(timerStatus < 2)'>
<input type"text" placeholder="Time" ng-model = "userTime" ng-show = '(timerStatus === 0)'>
<input type="button" ng-click="scheduleTimer()" value="Start" ng-show='(timerStatus === 1)'>
<input type="button" ng-click="startTime()" value="Start" ng-show='(timerStatus === 3)'>
<input type="button" ng-click="stopTimer()" value="Stop" ng-show='(timerStatus === 2)'>
<input type="button" ng-click="skipTimer()" value="Skip" ng-show='(timerStatus > 2)'>
<div class="row">
<div class="col-md-5">
<span style="font-size:30px;">{{display}}</span>
</div>
</div>
<div class="row">
<div class="col-md-5" ng-show='(timerStatus > 1)'>
<span style="font-size:60px;">{{timerTimem}}</span><span>minutes</span>
</div>
</div>
<div class="row">
<div class="col-md-5" ng-show='(timerStatus > 1)'>
<span style="font-size:30px;">{{timerTimes}}</span><span>seconds</span>
</div>
</div>
</div>
</div>
