
<div>
  <div ng-controller="TimeCtrl">
	momentjs time is: <span>{{tnow}}</span>
	<hr/>
	<span moment-interval></span>
	<hr/>
		<input type="text"
		placeholder="Time"
		ng-model="time"></input>
	
	<span>{{time}}<span>

	<hr/>
	<button ng-click="setEndTime()">Set</button>
	<span>{{endTime}}</span>
	
	<hr/>
	Time enter: 
	<input type="text"
                placeholder="Time"
                ng-model="setTimer"></input>
	<button type="button" data-ng-click="timerTime()">Set</button>	
	<span>{{setTimer}}-{{timerTime}} <span>
	<br/>
	Timeleft: {{timerTimem}}:{{timerTimes}}	
	<button type="button" data-ng-click="timer()">Start</button>
	<button type="button" data-ng-click="stopTimer()">Stop</button>
	<br/>
	<button type="button" data-ng-click="tacoTimer()">test</button>
	<br/>
	{{testItem}}-{{tal}}

  </div>
</div>


