<html>

	<br></br>
	<body>



	<tabset type="pills">
		<tab heading= "Schedule">
			<div ng-include="'temps/home_partials/schedule.html'"></div>
		</tab> 
		<tab heading= "My Tasks">
			<div ng-include="'temps/home_partials/task.html'"></div>
		</tab>
		<tab heading= "My Courses">
			<div ng-repeat= "course in courses">
				<a href= "#/courses/{{course._id}}">
					{{course.title}}
				</a>	
			</div>
		</tab>
		<tab heading= "My Breathers">
			<div ng-repeat= "breather in breathers">
				<a href = "#/breathers/{{breather._id}}">
					{{breather.title}} 
				</a>	
			</div>
		</tab>
		<tab heading= "My Pending Assignments">
			<div ng-repeat= "pendings in pendings">
				<span>
					<div> {{pendings.name}} </div> 
					<input type="button" value="Join!" ng-click="joinAssignment(pendings)"/>
				</span>
			</div>
		</tab>
	</tabset>
	
</html>
