<html>

	<br></br>
	<body>
	<div class="row">
		<div class="col-md-3">		
               		<h4> My Breathers </h4>
			<div ng-repeat= "breather in breathers">
				<a href = "#/breathers/{{breather._id}}">
					{{breather.title}} 
				</a>	
			</div>
                </div>
		
		<div class="col-md-3">	
                	<h4> My Courses </h4>
			<div ng-repeat= "course in courses">
				<a href= "#/courses/{{course._id}}">
					{{course.title}}
				</a>	
			</div>
		</div>
		
		<div class="col-md-3">
			<h4> My Tasks </h4>
			<div ng-repeat= "task in tasks">
				<!--<a href= "#/tasks/{{task._id}}">-->
				<p>
					{{task.description}}
				</p>
				<!--</a>-->	
			</div>
		</div>
		<div class="col-md-3">
			<h4> Pending Assignments </h4>
			<div ng-repeat= "pendings in pendings">
				<span>
				<div> {{pendings.name}} </div> 
				<input type="button" value="Join!"
					ng-click="joinAssignment(pendings)"/>
				</span>
			</div>
		</div>
	</div>
	
</html>
