<ul class="nav nav-tabs" style="padding-bottom:20px">
	<li class="active"><a data-toggle="tab" href="#task">Tasks</a></li>
	<li><a data-toggle="tab" href="#course">Courses</a></li>
	<li><a data-toggle="tab" href="#breather">Breathers</a></li>	
</ul>
<div class="tab-content">
<div  id="task" class="tab-pane fade in active">
	<ul class='alt'>
		<li  ng-repeat='task in tasks'>
			<ul class="list-inline" >	
				<li><a class="inline" href="#/tasks/{{task._id}}">{{task.description}}</a></li>
				<li style="border-top:0px"><p class="inline" style="padding-left:30px">Time: {{task.totalMinutes}}</p></li>
				<li style="border-top:0px"><p class="inline" style="padding-left:30px">{{task.dueDate|date:'shortDate'}}</li> 
			</ul>
		</li>
	</ul>
</div>
<div  id="breather" class="tab-pane fade">
	<ul class='alt'>
		<li ng-repeat='breather in breathers'>
        		<a href="#/breathers/{{breather._id}}">{{breather.title}}</a>
        	</li>
	</ul>
</div>
<div  id="course" class="tab-pane fade">
	<ul class='alt'>
		<li ng-repeat='course in courses'>
        		<a  href="#/courses/{{course._id}}">{{course.title}}</a>
       	 	</li>
	</ul>
</div>
</div>
