body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #FF6600;
}

.nav ul > li {
    float:left;
    position:relative;
}

.nav .top-nav  ul > li:hover ul {
    left:0;
}

.dropdown:hover ul li {
	float:left;
	left:0;
}

.navbar{
        border-radius: 0px;
        border:0px;
        margin-bottom: 0px;
	padding-right: 50px;
	padding-left: 50px;
}

.navbar .top-nav .search{
	margin-top: 10px;
	border-radius: 5px;

}

.navbar .top-nav .brandTitle>li {
	text-align: center;
}

.navbar .top-nav .navbar-brand {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 30px;
}

.navbar .top-nav .search>input{
	height: 30px;
	width: 250px;
}

.top-nav .items>a{
	transition-property: left;
	transition-duration: 5s;
}


#typeahead-bar {
	background-color: #ffffff;
}

