body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bs-docs-sidebar {
    margin-top: 0px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

.bs-docs-sidebar > ul {
    overflow-y: auto;
    height: 100%;
}


.navbar{
	border-radius: 0px; 
	border:0px;
	margin-bottom: 0px;
}
