body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #FF6600;
}

.navbar{
        border-radius: 0px;
        border:0px;
        margin-bottom: 0px;
}

.bs-docs-sidebar {
    margin-top: 0px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

.bs-docs-sidebar > ul {
    overflow-y: auto;
    height: 100%;
}

.bs-docs-sidebar .nav-second-level li,
.bs-docs-sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.bs-docs-sidebar .nav-second-level li a {
    padding-left: 37px;
}

.bs-docs-sidebar .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}


