<div ng-controller= "ScheduleHomeCtrl">
	<h2> Pick some stuff for the schedule </h2>

	<div class= "row">

		<div class= "col-md-4">

			<h3> Breathers </h3>
			<div ng-repeat= "breather in breathers">
				{{breather.title}} <input type= "checkbox" value= "checkedItems[breather.title])" ng-click= "addRemoveBreather(breather)"></input>
			</div>

			<h3> Tasks </h3>
			<div ng-repeat= "task in tasks">
				{{task.description}} <input type= "checkbox" value= "checkedItems[task.description]" ng-click="addRemoveTask(task)"></script>
			</div>


			</br></br></br>
			Select All :
			<input 
				type= "checkbox"
				value= "everythingChecked"
				ng-click= "addRemoveAll()">
			</input>

		</div>

		<div class= "col-md-4">
			<button ng-click="createMadeSchedule()">Start</button>
			<input ng-model=time></input>
			<br></br>

			<h3> Chosen Tasks </h3>
			<div ng-repeat= "item in chosenTasks">
				{{item.description}}
			</div>
			<br></br>
			<h3> Chosen Breathers </h3>
                        <div ng-repeat= "item in chosenBreathers">
                                {{item.title}}
                        </div>
			
			<br></br>

		</div>

		<div class= "col-md-4">	
			<h3 ng-show= "scheduleMade"> {{timeLabel}} Hour Schedule </h3>
			<div ng-repeat="item in items">
				<span style="font-size:20px;">
					{{item.number}}.  {{item.details.description}}
					- {{item.minutes}}
				</span>
			</div>
		</div>

	</div>
</div>
